#verticalContainer {
    display: flex; /* Imposta il display a flex per creare un layout flessibile */
    flex-direction: column; /* Imposta la direzione di flex come colonna */
    align-items: center; /* Allinea gli elementi al centro orizzontalmente */
}
#gameContainer {

    height: 100vh; /* Imposta l'altezza al 100% della viewport */
}
#gameBoard{
    border: 4px solid;
    
    /*background-image: url('immagine.png');*/  
}
#containerFooter {
    display: flex;
    justify-content: space-between; /* Distribuisce gli elementi ai due estremi */
    align-items: center; /* Allinea verticalmente gli elementi al centro */
    padding: 5px; /* Spazio interno per separare i pulsanti dal bordo del footer */
}
#containerShopCoins {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Questo allinea gli elementi dello shop a destra */
    margin-right: 20px; /* Spazio tra i bottoni e gli elementi dello shop */
}
#shopBtn, #shopBtnInFinePartita {
    width: 100px; /* Larghezza uguale a quella del pulsante di reset */
    height: 40px; /* Altezza uguale a quella del pulsante di reset */
    border: 4px solid;
    border-radius: 30px;
    font-size: 22px;
    cursor: pointer;
    border-color: black;
}
#coins {
    font-size: 22px;
    align-self: center;
    display: flex;
}
#coins img {
    margin-top: 3px; /* Aggiunge uno spazio tra l'immagine e il testo */
  }
#scoreText {
    font-family: "Arial";
    font-size: 50px;
    flex: 1; /* Flessibilità per farlo espandersi a sinistra */
    text-align: center;
}
#btns {
    display: flex;
    align-items: center;
}
#btns button {
    width: 45px; /* Larghezza uguale a quella del pulsante di reset */
    height: 45px; /* Altezza uguale a quella del pulsante di reset */
    border: 4px solid;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    border-color: black;
}
#pauseBtn, #soundSwitcher {
    margin-left: 6px; /* Spazio tra i due pulsanti */
    margin-right: 6px;
}
#pauseBtn i {
    color: black; /* Imposta il colore dell'icona a nero */
}
#resetBtn i {
    color: black; /* Imposta il colore dell'icona a nero */
}

body {
    background-image: url('index-background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.confetti-container {
    width: 100px; /* Larghezza del container dei coriandoli */
    height: 100px; /* Altezza del container dei coriandoli */
}

.confetti {
    position: absolute;
    width: 10px; /* Larghezza di ciascun coriandolo */
    height: 10px; /* Altezza di ciascun coriandolo */
    border-radius: 50%;
    animation: confetti-fall 2s linear forwards; /* Modifica la durata dell'animazione a 2 secondi */
}


@keyframes confetti-fall {
    0% {
        transform: translate(0, -100%);
    }
    100% {
        transform: translate(0, 100vh);
    }
    to {
        visibility: hidden;
    }
}

#loginRegistratiButtons {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column; /* Imposta la direzione di flex come colonna */
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#loginRegistratiButtons button {
    margin: 10px;
    background-color: #0074D9;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 16px;
}

#loginPopUp, #registratiPopup, #passwordDimenticataPopUp {
    position: fixed;
    border-radius: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Sfondo semitrasparente per coprire la schermata di gioco */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2; /* Posiziona sopra il contenitore dei bottoni */
    display: none; /* Nasconde il popup per impostazione predefinita */
}

#loginForm, #registratiForm, #passwordDimenticataForm  {
    border: 2px solid #ccc;
    padding: 10px; /* Aumentato il padding per centrare i campi di input verticalmente */
    text-align: center;
    width: 88%;
    display: flex;
    flex-direction: column; /* Imposta la direzione di flex come colonna */
    align-items: center; /* Allinea gli input al centro orizzontalmente */
}

#loginForm input, #registratiForm input, #passwordDimenticataForm input, #inserisciBioDiv input, #modificaPasswordDiv input{
    width: 80%;
    margin: 5px 0; /* Aggiunto un margine tra gli input */
    padding: 10px;
}

#loginSubmitButton, #registratiSubmitButton, #recuperoPasswordBtn {
    background-color: #0074D9;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 16px;
}

#registratiChoiceButton, #loginChoiceButton {
    background-color: #0074D9;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 18px;
}

.hidden {
    display: none;
}

#passwordDimenticata {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: #0074D9; /* Colore del testo del link */
    text-decoration: underline; /* Sottolinea il testo del link */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
}

#passwordDimenticata-link:hover {
    color: #0056a0; /* Colore del testo del link quando si passa sopra */
}





#pauseContainer {
    width: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
    text-align: center; /* Allinea il testo al centro */
    border-radius: 32px;
}

#actualScore {
    font-size: 24px;
    color: #fff; /* Colore del testo bianco */
    margin-bottom: -15px;
}

#personalBest, #pausaPersonalBest {
    font-size: 20px;
    color: #fff;
}

#riprendiBtn {
    background-color: #0074D9;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 24px;
}

#pauseContainer button i {
    color: white; /* Colore dell'icona a bianco */
}




/* ISTRUZIONI E USERNAME */
#testoSpiegazioneGioco {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    padding: 5px;
    border: 2px solid #ccc;
    background-color: #f5f5f5;
    border-radius: 10px;
    width: 500px;    
}
#testoSpiegazioneGioco span{
    font-size: 16px;
}

#mostraUsernameIfLoggato {
    text-align: right;
    font-size: 12px;
    color: white;
    font-weight: bold; 
    background-color: #0074D9;
    border-radius:20px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 5px;
    margin-top: -25px;
}





/* IMPOSTAZIONI */
#impostazioniContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    align-items: center;
    transform: translate(-50%, -50%);
    background-color:  #899a62;
    border: 2px solid black;
    padding: 20px;
    z-index: 2; /* Posiziona sopra il contenitore del gioco */
    display: none; /* Nasconde il container per impostazione predefinita */
    border-radius: 18px;
    text-align: center;
}

#setVelocità, #setDimensione {
    margin: 20px 0;
}

#setVelocità label {
    display: block;
    font-size: 16px;
}

#setVelocità input[type="range"] {
    width: 100%;
    margin: 5px 0;
}

#setDimensione select {
    width: 50%;
    padding: 5px;
}

#setCibo select {
    width: 50%;
    padding: 5px;
}

#chiudiImpostazioniContainerBtn, #chiudiImpostazioniPopUpButton, #chudiProfilo {
    padding: 7px 14px;
    margin-top: 10px;
    background-color: #aeba93;
    color: black;
    border: none;
    border-radius: 16px;
    font-size: 14px;
    cursor: pointer;
}

#chiudiImpostazioniContainer:hover {
    background-color: #aeba93;
    
}





/* NEGOZIO */
#negozioContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #899a62;
    padding: 10px;
    border: 3px solid black;
    border-radius: 12px;
    text-align: center;
    z-index: 2;
    max-width: 90%;
    max-height: 60%; 
    overflow-y: auto; 
}

#coloriSerpente, #coloriCibo {
    display: inline-block;
    width: 100%;
    padding: 5px;
    padding-top: 0px;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 5px ;
    border-radius: 10px;
    background-color: #aeba93;
}

#containerTuttiIColori{
    text-align: center;
    column-count: 2;
    column-gap: 20px;
    display: flex;
    align-items: flex-start; /* Allinea i leaderboard in alto */
}

.shopitem {
    margin: 5px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #d4dac5;
}


#chiudiNegozioBtn, #chiudiShopPopUpButton{
    background-color: #aeba93;
    color: black;
    border: none;
    padding: 7px 14px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 14px;
}




#startContainer, #riepilogoPartitaFinita  {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
    text-align: center; /* Allinea il testo al centro */
    border-radius: 32px;
}

#playButtonContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#playButton {
    background-color: #0074D9;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 20px;
}

#playButton i {
    margin-right: 10px;
}

#otherButtonsContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#otherButtonsContainer button {
   
    border: 4px solid;
    border-radius: 30px;
    font-size: 24px;
    cursor: pointer;
    border-color: black;
    margin: 0 10px;
}

#otherButtonsContainer button i {
    font-size: 24px;
}


#resetBtn {
    background-color: #0074D9;
    margin-top: 10px;
    margin-bottom: -10px;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 20px;
}

#scoreInFinePartita {
    font-size: 24px;
    color: #fff; /* Colore del testo bianco */
    margin: 5px;
}


#successMessage, #recuperoPasswordSuccessMessage {
    display: none;
    background-color: #4CAF50; /* Sfondo verde */
    color: white; /* Testo bianco */
    padding: 10px; /* Spaziatura interna */
    text-align: center; /* Testo centrato */
    font-weight: bold; /* Testo in grassetto */
    border-radius: 16px;
}


#chiudiLoginPopUpButton, #chiudiRegistratiPopUpButton, #chiudiPasswordDimenticataPopUpButton{
    position: absolute;
    top: 5.5%;
    right: 5.5%;
    background-color: #fff; 
    border: none;
    cursor: pointer; 
    border-radius: 100px;
    font-size: 14px;
}



#container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 3;
    width: 20%;
    height: 60%;
    background-color: #899a62;
    padding: 10px;
    border: 3px solid black;
    border-radius: 12px;
}

.leaderBoardsContainer {
    text-align: center;
    column-count: 2;
    column-gap: 20px;
    display: flex;
    align-items: flex-start; /* Allinea i leaderboard in alto */
}

.leaderboard {
    display: inline-block;
    width: 100%;
    padding: 5px;
    padding-top: 0px;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 5px ;
    border-radius: 10px;
    background-color: #aeba93;
}

.scoreContainer p{
    margin: 0;
    padding: 0;
}

.scoreContainer {
    border: 1px solid black; /* Puoi regolare lo stile e il colore del bordo a tuo piacimento */
    padding: 4px; /* Aggiunto padding per separare il contenuto dal bordo */
    margin-bottom: 4px; /* Aggiunto margine in basso per separare i container */
    border-radius: 20px;
    background-color: #d4dac5;
}

#chiudiLeaderBoardsContainerBtn {
    position: absolute;
    bottom: 1.8%; /* Regola la distanza dal fondo del container */
    left: 50%;
    transform: translateX(-50%);
    padding: 7px 14px;
    background-color: #aeba93;
    color: white;
    border: none;
    border-radius: 16px;
    font-size: 14px;
    cursor: pointer;
    z-index: 4;
    color: black;
}

#modificaUtente, #inserisciBioDiv, #modificaPasswordDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:  #899a62;
    border: 2px solid black;
    padding: 20px;
    border-radius: 18px;
    text-align: center;
    z-index: 2;
    flex-direction: column; 
    align-items: center; /* Allinea i figli lungo l'asse trasversale (asse Y) al centro */
}


#modificaUtente button,
#inserisciBioDiv button,
#modificaPasswordDiv button {
    margin: 5px; /* Aggiungi margine tra i bottoni per migliorare la leggibilità */
    padding: 7px 14px;
    margin-top: 10px;
    background-color: #aeba93;
    color: black;
    border: none;
    border-radius: 16px;
    font-size: 14px;
    cursor: pointer;
}

/*
@media (max-width: 768px) {
    #gameContainer {
        width: 80%; 
    }

    #shopBtn,
    #btns button {
        width: 15%; 
        height: 7%; 
}


@media (max-width: 480px) {
    #gameContainer {
        width: 100%; 
    }

    #containerFooter {
        flex-direction: column; 
        align-items: center;
    }

    #shopBtn,
    #btns button {
        width: 50%; 
        height: 10%; 
    }
} */