#verticalContainer {
    display: flex; /* Imposta il display a flex per creare un layout flessibile */
    flex-direction: column; /* Imposta la direzione di flex come colonna */
    align-items: center; /* Allinea gli elementi al centro orizzontalmente */
    justify-content: center; /* Allinea gli elementi al centro verticalmente */
}
#gameContainer{
    text-align: center;
    position: relative;
}
#gameBoard{
    border: 4px solid;
    /*background-image: url('immagine.png');*/  
}
#containerFooter {
    display: flex;
    justify-content: space-between; /* Distribuisce gli elementi ai due estremi */
    align-items: center; /* Allinea verticalmente gli elementi al centro */
    padding: 5px; /* Spazio interno per separare i pulsanti dal bordo del footer */
}
#containerShopCoins {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Questo allinea gli elementi dello shop a destra */
    margin-right: 20px; /* Spazio tra i bottoni e gli elementi dello shop */
}
#shopBtn, #shopBtnInFinePartita {
    width: 100px; /* Larghezza uguale a quella del pulsante di reset */
    height: 40px; /* Altezza uguale a quella del pulsante di reset */
    border: 4px solid;
    border-radius: 30px;
    font-size: 22px;
    cursor: pointer;
    border-color: black;
}
#coins {
    font-size: 22px;
    align-self: center;
    display: flex;
}
#coins img {
    margin-top: 3px; /* Aggiunge uno spazio tra l'immagine e il testo */
  }
#scoreText {
    font-family: "Arial";
    font-size: 50px;
    flex: 1; /* Flessibilità per farlo espandersi a sinistra */
    text-align: center;
}
#btns {
    display: flex;
    align-items: center;
}
#btns button {
    width: 45px; /* Larghezza uguale a quella del pulsante di reset */
    height: 45px; /* Altezza uguale a quella del pulsante di reset */
    border: 4px solid;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    border-color: black;
}
#pauseBtn {
    margin-left: 6px; /* Spazio tra i due pulsanti */
    margin-right: 6px;
}
#pauseBtn i {
    color: black; /* Imposta il colore dell'icona a nero */
}
#resetBtn i {
    color: black; /* Imposta il colore dell'icona a nero */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.confetti-container {
    width: 100px; /* Larghezza del container dei coriandoli */
    height: 100px; /* Altezza del container dei coriandoli */
}

.confetti {
    position: absolute;
    width: 10px; /* Larghezza di ciascun coriandolo */
    height: 10px; /* Altezza di ciascun coriandolo */
    border-radius: 50%;
    animation: confetti-fall 2s linear forwards; /* Modifica la durata dell'animazione a 2 secondi */
}


@keyframes confetti-fall {
    0% {
        transform: translate(0, -100%);
    }
    100% {
        transform: translate(0, 100vh);
    }
}

#loginRegistratiButtons {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    width: 10%;
    height: 15%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column; /* Imposta la direzione di flex come colonna */
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#loginRegistratiButtons button {
    margin: 10px;
    background-color: #0074D9;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 16px;
}

#loginPopUp, #registratiPopup {
    position: fixed;
    border-radius: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Sfondo semitrasparente per coprire la schermata di gioco */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2; /* Posiziona sopra il contenitore dei bottoni */
    display: none; /* Nasconde il popup per impostazione predefinita */
}

#loginForm, #registratiForm  {
    border: 2px solid #ccc;
    padding: 10px; /* Aumentato il padding per centrare i campi di input verticalmente */
    text-align: center;
    width: 88%;
    display: flex;
    flex-direction: column; /* Imposta la direzione di flex come colonna */
    align-items: center; /* Allinea gli input al centro orizzontalmente */
}

#loginForm input, #registratiForm input {
    width: 80%;
    margin: 5px 0; /* Aggiunto un margine tra gli input */
    padding: 10px;
}

#loginSubmitButton, #registratiSubmitButton {
    background-color: #0074D9;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 16px;
}

.hidden {
    display: none;
}

#passwordDimenticata {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: #0074D9; /* Colore del testo del link */
    text-decoration: underline; /* Sottolinea il testo del link */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
}

#passwordDimenticata-link:hover {
    color: #0056a0; /* Colore del testo del link quando si passa sopra */
}





#pauseContainer {
    width: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
    text-align: center; /* Allinea il testo al centro */
    border-radius: 32px;
}

#actualScore {
    font-size: 24px;
    color: #fff; /* Colore del testo bianco */
    margin-bottom: -15px;
}

#personalBest {
    font-size: 24px;
    color: #fff;
}

#riprendiBtn {
    background-color: #0074D9;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 24px;
}

#pauseContainer button i {
    color: white; /* Colore dell'icona a bianco */
}




/* ISTRUZIONI E USERNAME */
#testoSpiegazioneGioco {
    text-align: left;
    padding: 10px;
    border: 2px solid #ccc;
    background-color: #f5f5f5;
    border-radius: 10px;
    width: 500px;
    margin: -85px;
}

#mostraUsernameIfLoggato {
    text-align: right;
    font-size: 16px;
    font-weight: bold;
}





/* IMPOSTAZIONI */
#impostazioniContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid black;
    padding: 20px;
    z-index: 2; /* Posiziona sopra il contenitore del gioco */
    display: none; /* Nasconde il container per impostazione predefinita */
    border-radius: 18px;
}

#setVelocità, #setDimensione {
    margin: 20px 0;
}

#setVelocità label {
    display: block;
    font-size: 16px;
}

#setVelocità input[type="range"] {
    width: 100%;
    margin: 5px 0;
}

#setDimensione select {
    width: 50%;
    padding: 5px;
}

#setCibo select {
    width: 50%;
    padding: 5px;
}

#chiudiImpostazioniContainerBtn {
    padding: 7px 14px;
    margin-top: 10px;
    background-color: #0074D9;
    color: white;
    border: none;
    border-radius: 16px;
    font-size: 14px;
    cursor: pointer;
}

#chiudiImpostazioniContainer:hover {
    background-color: #0056a9;
    
}





/* NEGOZIO */
#negozioContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    padding: 10px;
    border: 3px solid black;
    border-radius: 12px;
    text-align: center;
    z-index: 2;
    max-width: 90%;
    max-height: 30%; 
    overflow-y: auto; 
    
}

#coloriSerpente, #coloriCibo {
    column-count: 2; 
    column-gap: 20px; 
    
}

#shop-item {
    margin: 3%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

#item-name {
    font-weight: bold;
    margin-bottom: 5px;
}

#item-price {
    color: black;
    font-size: 14px;
}

#buy-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#buy-button:hover {
    background-color: #45a049;
}

#chiudiNegozioBtn{
    background-color: #0074D9;
    color: white;
    border: none;
    padding: 7px 14px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 14px;
}




#startContainer, #riepilogoPartitaFinita  {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
    text-align: center; /* Allinea il testo al centro */
    border-radius: 32px;
}

#playButtonContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#playButton {
    background-color: #0074D9;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 20px;
}

#playButton i {
    margin-right: 10px;
}

#otherButtonsContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#otherButtonsContainer button {
   
    border: 4px solid;
    border-radius: 30px;
    font-size: 24px;
    cursor: pointer;
    border-color: black;
    margin: 0 10px;
}

#otherButtonsContainer button i {
    font-size: 24px;
}


#resetBtn {
    background-color: #0074D9;
    margin-top: 10px;
    margin-bottom: -10px;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 20px;
}

#scoreInFinePartita {
    font-size: 24px;
    color: #fff; /* Colore del testo bianco */
    margin: 5px;
}


#successMessage {
    display: none;
    background-color: #4CAF50; /* Sfondo verde */
    color: white; /* Testo bianco */
    padding: 10px; /* Spaziatura interna */
    text-align: center; /* Testo centrato */
    font-weight: bold; /* Testo in grassetto */
    border-radius: 16px;
}


/*
@media (max-width: 768px) {
    #gameContainer {
        width: 80%; 
    }

    #shopBtn,
    #btns button {
        width: 15%; 
        height: 7%; 
}


@media (max-width: 480px) {
    #gameContainer {
        width: 100%; 
    }

    #containerFooter {
        flex-direction: column; 
        align-items: center;
    }

    #shopBtn,
    #btns button {
        width: 50%; 
        height: 10%; 
    }
} */